{% extends 'base.html.twig' %}

{% block title %}nouveau créneau{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-9">
    <h3>Créer un nouveau créneau</h3>

    {{ include('timeslot/_form.html.twig') }}

    <a href="{{ path('timeslot_index') }}">
        <button class="btn btn-secondary">Retour vers la liste des créneaux</button>
    </a>
        </div>
    </div>
</div>
{% endblock %}
