{% extends 'base.html.twig' %}

{% block title %}Edit WorkingDay{% endblock %}

{% block body %}
    <div class="container-fluid fond">
        <div class="row justify-content-center">
            <div class="col-6 fond2" style="margin: 20px">
                <h3>Modifier un jour</h3>
                <div style="margin: 20px 0 20px 0">
                {{ include('working_day/_form.html.twig', {'button_label': 'Modifier'}) }}
                </div>
                <div class="row action">
                    {{ include('working_day/_delete_form.html.twig') }}
                </div>
                <div style="margin: 20px 0 20px 0" class="row action">
                <a href="{{ path('calendar_index') }}">Annuler</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
