{% extends 'base.html.twig' %}

{% block title %}Edit WorkingDay{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <h3>Modifier un jour</h3>

                {{ include('working_day/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('working_day_index') }}">back to list</a>

                {{ include('working_day/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
