{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    <div class="container-fluid fond">
        <div class="row justify-content-center fond2">
            <div class="col-9" style="margin: 20px">
                <h3>Modifier une catégorie</h3>
                <div style="margin: 20px 0 20px 0">
                {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}
                </div>
                <div class="row action">
                    {{ include('category/_delete_form.html.twig') }}
                </div>
                <div style="margin: 20px 0 20px 0" class="row action">
                    <a href="{{ path('category_index') }}">
                        <button class="btn btn-secondary">Annuler</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
