{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-9">
                <h3>Créer une nouvelle catégorie</h3>

                {{ include('category/_form.html.twig') }}

                <a href="{{ path('category_index') }}">
                    <button class="btn btn-secondary">Retour à la liste des catégories</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
