{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        <div id="Welcome">
            <h1>Bienvenu</h1>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <h3>Vous êtes connecté {{ app.user.username }} {% if is_granted("ROLE_ADMIN") %} (admin) {% endif %}</h3>
                <h6>
                    <a href="{{ path("fos_user_security_logout") }}">Déconnexion</a>
                </h6>
            {% else %}
                <h6>
                    <a href="{{ path("fos_user_security_login") }}">Connexion</a>
                </h6>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javacripts %}

{% endblock %}
