<form method="post" action="{{ path('typeconsult_delete', {'id': typeconsult.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce type de consultation?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeconsult.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
