{% extends 'base.html.twig' %}

{% block title %}New Typeconsult{% endblock %}

{% block body %}
    <h1>Create new Typeconsult</h1>

    {{ include('typeconsult/_form.html.twig') }}

    <a href="{{ path('typeconsult_index') }}">back to list</a>
{% endblock %}
