{% extends 'base.html.twig' %}

{% block title %}Modifier une actualité{% endblock %}

{% block body %}
<div class="container-fluid fond">
    <div class="row justify-content-center">
        <div class="col-9 fond2" style="margin: 20px">
            <h3>Modifier une actualité</h3>

            <div style="margin: 20px 0 20px 0">
                {{ include('actu/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>
            <div class="row action">
                {{ include('actu/_delete_form.html.twig') }}
            </div>
            <div style="margin: 20px 0 20px 0" class="row action">
                <a href="{{ path('actu_index') }}">
                    <button class="btn btn-secondary">Annuler</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
