{% extends 'base.html.twig' %}

{% block title %}New Actu{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-9">
            <h3>Créer une nouvelle actualité</h3>

            {{ include('actu/_form.html.twig') }}

            <a href="{{ path('actu_index') }}">
                <button class="btn btn-secondary">Retour à la liste des actualités</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}
