.accueilButton{
    margin-top: 50px;
}
#calendar{
    margin-bottom: 50px;
}
.fa-edit{
    color: blue;
    font-size: 25px;
}
.fa-eye{
    color: orangered;
    font-size:  25px;
}
.fa-plus-circle{
    color: green;
    font-size:  25px;
}
.fa-trash{
    color:  red;
    font-size:  25px;
}
.nav-link{
    color: white;
}
.dropdown-item.active{
    background-color: #707070;
}
.fa-user-alt-slash{
    color: #bdbdbd;
}
.fa-user-alt{
    color: #0cc336;
}
.fa-lock{
    color: red;
}
.message{
    font-size: 12px;
}
.rank{
    height: 30px;
}
.edit{
    margin-bottom: 15px;
}
.login{
    margin: 0;
    padding: 0;
    height: 90vh;
    background-image: url("../images/adminlogin.jpg");
    background-size: cover;
}
.signIn{
    background-color: white;
    padding: 25px;
    width: 400px;
}

#Welcome{
    padding: 30px;
}
.accueil{
    height: 50vh;
}
.firstpage{
    height: 100vh;
    background-image: url("../images/fleurs_blanches3.jpg");
    background-size: cover;
}
.edit{
    margin:0;
    padding: 0;
}
.bouton{
    margin: 10px 0 20px 0;
}
.sort{
    cursor: pointer;
}
.messageList{
    margin: 20px;
}
.add{
    margin: 10px 0 10px 10px;
    justify-content: flex-end;
}
.action{
    justify-content: flex-end;
    margin-right: 0px;
}