.accueilButton{
    margin-top: 50px;
}
#calendar{
    margin-bottom: 50px;
}
.fa-edit{
    color: blue;
    font-size: 25px;
}
.fa-eye{
    color: orangered;
    font-size:  25px;
}
.fa-plus-circle{
    color: green;
    font-size:  25px;
}
.fa-trash{
    color:  red;
    font-size:  25px;
}
.nav-link{
    color: white;
}
.dropdown-item.active{
    background-color: #707070;
}
.fa-user-alt-slash{
    color: #bdbdbd;
}
.fa-user-alt{
    color: #0cc336;
}
.fa-lock{
    color: red;
}
.message{
    font-size: 12px;
}
.rank{
    height: 30px;
}
.edit{
    margin-bottom: 15px;
}
.login{
    margin: 0;
    padding: 0;
    height: 90vh;
    background-image: url("../images/adminlogin.jpg");
    background-size: cover;
}
.signIn{
    background-color: #ffffffb5;
    padding: 25px;
}

#Welcome{
    padding: 30px;
}
.accueil{
    height: 50vh;
    justify-content: space-around;
}
.rappel{
    background-color: #ffffffe3;
    margin: 10px;
    width: 540px;
    padding: 10px;
}
.firstpage{
    height: 100vh;
    background-image: url("../images/fondAdmin.jpg");
    background-size: cover;
}
.edit{
    margin:0;
    padding: 0;
}
.bouton{
    margin: 10px 0 20px 0;
}
.sort{
    cursor: pointer;
}
.messageList{
    margin: 20px;
}
.add{
    margin: 10px 0 10px 10px;
    justify-content: flex-end;
}
.action{
    justify-content: flex-end;
    margin-right: 0px;
}
.fond{
    background-image: url("../images/fondAdmin.jpg");
    min-height: 85vh;
}
.fond2{
    background-color: #ffffffe3;
    overflow: auto;
    height: 81vh;
    padding: 20px;
}
.fondCalendar{
    background-color: #ffffffe3;
}
#fondCal{
    background-image: url("../images/fondAdmin.jpg");
    min-height: 85vh;
}
#mdpOubli{
    font-size: small;
    margin-top: 10px;
    text-align: center;
}
#link{
    color: blueviolet;
}
#connectButton{
    text-align: center;
    margin-top: 15px;
}
#inputButton{
    background-color: #707070;
    color: white;
    border-style: hidden;
    cursor: pointer;
}