{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <h3>Créer un nouveau produit</h3>

                {{ include('product/_form.html.twig') }}

                <a href="{{ path('product_index') }}">
                    <button class="btn btn-secondary">Retour à la liste des produits</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
