{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <h3>Ajouter un nouveau produit</h3>

                {{ include('product/_form.html.twig') }}
                <div style="margin: 20px 0 20px 0">
                    <a href="{{ path('product_index') }}">
                        <button class="btn btn-secondary">Annuler</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
