{% extends 'base.html.twig' %}

{% block title %}Edit Dayparttype{% endblock %}

{% block body %}
    <h1>Edit Dayparttype</h1>

    {{ include('dayparttype/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dayparttype_index') }}">back to list</a>

    {{ include('dayparttype/_delete_form.html.twig') }}
{% endblock %}
