{% extends 'base.html.twig' %}

{% block title %}New Dayparttype{% endblock %}

{% block body %}
    <h1>Create new Dayparttype</h1>

    {{ include('dayparttype/_form.html.twig') }}

    <a href="{{ path('dayparttype_index') }}">back to list</a>
{% endblock %}
