{% extends 'base.html.twig' %}

{% block title %}Ajouter une indication{% endblock %}

{% block body %}
    <div class="container-fluid fond">
        <div class="row justify-content-center align-items-center" style="height: 500px">
            <div class="col-9 fond2">
                <h3>Ajouter une nouvelle indication</h3>

                {{ include('indication/_form.html.twig') }}
                <div style="margin: 20px 0 20px 0" class="row action">
                    <a href="{{ path('indication_index') }}">
                        <button class="btn btn-secondary">Annuler</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
