{% extends 'base.html.twig' %}

{% block title %}Listes des jours disponibles{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-9">
                <h3>Listes des jours disponibles</h3>

                <div id='calendar'></div>

            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/calendar.js') }}"></script>
{% endblock %}
