{% extends 'base.html.twig' %}

{% block title %}Disponibilités{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <h3>Créer une disponibilité</h3>

                {{ include('workingday/_form.html.twig') }}

                <a href="{{ path('workingday_index') }}">
                    <button class="btn btn-secondary">Retour à la liste des disponibilités</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
