{% extends 'base.html.twig' %}

{% block title %}New Workingday{% endblock %}

{% block body %}
    <h3>Create new Workingday</h3>

    {{ include('workingday/_form.html.twig') }}

    <a href="{{ path('workingday_index') }}">back to list</a>
{% endblock %}
