{% extends 'base.html.twig' %}

{% block title %}Edit DayPartStatus{% endblock %}

{% block body %}
    <h1>Edit DayPartStatus</h1>

    {{ include('day_part_status/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('day_part_status_index') }}">back to list</a>

    {{ include('day_part_status/_delete_form.html.twig') }}
{% endblock %}
