<h4>Bonjour</h4>

<p>Un nouvel utilisateur vient de s'inscrire sur le site !!</p>
<ul>
    <li>
        <div>
            <h6>Identifiant : {{ user.username }}</h6>
        </div>
    </li>
    <li>
        <div>
            <h6>Nom : {{ user.name }}</h6>
        </div>
    </li>
    <li>
        <div>
            <h6>Prénom : {{ user.firstname }}</h6>
        </div>
    </li>
    <li>
        <div>
            <h6>Email : {{ user.email }}</h6>
        </div>
    </li>
</ul>
