<form method="post" action="{{ path('daypart_delete', {'id': daypart.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ daypart.id) }}">
    <button class="btn">Delete</button>
</form>
