{% extends 'base.html.twig' %}

{% block title %}Edit Daypart{% endblock %}

{% block body %}
    <h1>Edit Daypart</h1>

    {{ include('daypart/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('daypart_index') }}">back to list</a>

    {{ include('daypart/_delete_form.html.twig') }}
{% endblock %}
