{% extends 'base.html.twig' %}

{% block title %}Daypart index{% endblock %}

{% block body %}
    <h1>Daypart index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for daypart in dayparts %}
            <tr>
                <td>{{ daypart.id }}</td>
                <td>
                    <a href="{{ path('daypart_show', {'id': daypart.id}) }}">show</a>
                    <a href="{{ path('daypart_edit', {'id': daypart.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('daypart_new') }}">Create new</a>
{% endblock %}
