{% extends 'base.html.twig' %}

{% block title %}Nouveau créneau{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-9">
                <h3>Créer un nouveau créneau</h3>

                {{ include('day_part_type/_form.html.twig') }}

                <a href="{{ path('day_part_type_index') }}">
                    <button class="btn btn-secondary">Retour à la liste des créneaux</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
