{% extends 'base.html.twig' %}

{% block title %}Modifier un Utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid fond">
        <div class="row justify-content-center">
            <div class="col-9 fond2" style="margin: 20px">
                <h3>Modifier un Utilisateur</h3>
                <div style="margin: 20px 0 20px 0" >
                    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
                </div>
                <div style="margin: 20px 0 20px 0" class="row action">
                    <a href="{{ path('user_index') }}">
                        <button class="btn btn-secondary">Annuler</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
