{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-9">
                <h1>Ajouter un utilisateur</h1>

                {{ include('user/_form.html.twig') }}

                <a href="{{ path('user_index') }}">
                    <button class="btn btn-secondary">Retour à la liste des utilisateurs</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
